a {
    color: #ea7659;
}

a:hover {
    color: #ffc97c;
    transition: all 200ms ease-in-out;
}

body {
    background-image: url("../media/pexels-abraham-12242388.jpg");
}

hr {
    height: 3px;
    border: none;
    background-color: #ea7659;
    color: #ea7659;
}

ul {
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

.forecastImg {
    text-align: center;
    width: 100%;
}

.active {
    color: black;
    cursor: default;
    text-decoration: none;
}

.active:hover {
    color: black;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #817d7d;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
    background-color: #c1c1c19a;
    box-shadow: 12px 12px 2px 1px rgba(93, 92, 92, 0.2);
}

.currentTemp {
    font-size: 44px;
}

.dayButton {
    color: rgb(38, 38, 38);
    background-color: #ea7659;
    border: solid 1px rgb(38, 38, 38);
}

.dayButton:hover {
    background-color: #ffc97c;
    transition: all 200ms ease-in-out;
}

.hostedBy {
    display: block;
}

.hostedByLink {
    color: rgb(38, 38, 38);
    transition: all 200ms ease-in-out;
}

.hostedByLink:hover {
    color: #ffc97c;
}

.outsideContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    font-family: "Quicksand", sans-serif;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-weekday {
    font-size: 25;
    font-weight: 900;
    text-align: center;
}

.weather-forecast-temperature {
    font-size: 16px;
    text-align: center;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
    text-align: center;
}


#city-name {
    font-size: 34px;
}

#fahrenheit-switch,
#celcius-switch {
    font-size: 15px;
};

