a {
    color: #404e7c;
    transition: all 200ms ease-in-out;
}

a:hover {
    color: #fcf9f4;
}

body {
    background-image: url("../media/pexels-pixabay-358528.jpg");
}

hr {
    height: 3px;
    border: none;
    background-color: #404e7c;
    color: #404e7c;
}

input {
    border-radius: 3px;
    color: rgb(38, 38, 38);
    background-color: rgba(255, 255, 255, 0.817);
    border: solid 1px rgb(38, 38, 38);
    border-radius: 10px;
}

ul {
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

.forecastImg {
    text-align: center;
    width: 100%;
}

.active {
    color: #fcf9f4;
    cursor: default;
    text-decoration: none;
}

.active:hover {
    color: black;
}

.content {
    color: #fcf9f4;
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #151627;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
    background-color: #151128b1;
    box-shadow: 12px 12px 2px 1px rgba(10, 7, 26, 0.2);
}

.currentTemp {
    color: #fcf9f4;
    font-size: 44px;
}

.hostedBy {
    display: block;
    color: #fcf9f47f;
}

.hostedByLink {
    color: #251f47;
    transition: all 200ms ease-in-out;
}

.hostedByLink:hover {
    color: #fcf9f4;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 1px;
    text-align: center;
}

.nightButton {
    color: #fcf9f4;
    background-color: #404e7c;
    border: solid 1px #404e7c;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.nightButton:hover {
    background-color: #fcf9f4;
    color: #404e7c;
}

.outsideContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    font-family: "Quicksand", sans-serif;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-weekday {
    font-size: 25;
    font-weight: 900;
    text-align: center;
}

.weather-forecast-temperature {
    font-size: 16px;
    text-align: center;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
    text-align: center;
}

#city-name {
    font-size: 34px;
}

#fahrenheit-switch,
#celcius-switch {
    font-size: 15px;
}

;